<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= link_to 'Home', restaurants_path  %></p>
  <p><%= link_to 'Edit', edit_restaurant_path(@restaurant)  %></p>
  <p><%= link_to 'Destroy', restaurant_path(@restaurant), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@restaurant.name}?" }  %></p>
</div>
